*{
	margin: 0;
	padding: 0;
}

html { min-height: 100%; }

body {
	background-color: #345;
	background-image: linear-gradient(to bottom, #0009, transparent);
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 60%;
	padding: 0 20px;
	box-sizing: border-box;
}

/*Content*/
.content {
	background-color: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	color: #666;
	font-size: 1.6em;
	margin: 20px auto;
	margin-top: 80px;
	padding: 20px;
	width: 100%;
	max-width: 800px;
}

/*Menü*/
.links {
	background-color: #123;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 300;
}

.links > a {
	color: #9ab;
	padding: .75em;
	text-align: center;
	text-decoration: none;
}

.links > a:hover {
	background: #ffffff06;
	color: #adf;
}

.links > .line {
	background: #68a;
	height: 1px;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
.links > .line {
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }


/*Social*/
#logo{
	width: 15%;
	object-fit: cover;
	border-radius: 50%;
	align-content: center;
}

#link{
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	background: white;
	margin:1px;
	font-weight: bold;
}

#link:hover{
	background: transparent;
	color: white;
}


/*Kontakt*/
input{
	width: 90%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
}

#Textarea {
    width: 95%;
    height: 200px;
    resize: none;
}


/*Submit button (Kontakt)*/
.abschicken {
	width: 140px;
	height: 45px;
	font-family: 'Lato', sans-serif;
	letter-spacing: 2.5px;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.5s;
	}
  
  .abschicken:hover {
	background-color: #345;
	box-shadow: 0px 15px 20px #345;
	color: white;
	transform: translateY(-5px);
  }
